.App-logo {
    animation: App-logo-spin infinite 60s linear;
    height: 80px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.App {
    margin: 0 auto;
    width: 300px;
}