.ListItem {
    display: table;
}
.ListItem:hover {
    background-color: #f8f8f8;
}

.toggle,
.label,
.delete {
    display: table-cell;
    padding: 2px 5px;
    width: auto;
}

.label {
    width: 100%;
}
